.user-list {
    width: 200px; /* Adjust the width as needed */
    padding: 10px;
    background-color: #f3f3f3;
    overflow-y: auto; /* Add scroll if the user list overflows */
  }
  
  .user-list h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .user-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .user-item {
    padding: 10px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    border-radius: 5px;
  }
  
  .user-list li {
    display: flex;
    align-items: center;
    margin: 5px 0;
  }
  
  /* .user-list .user-avatar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  } */
  
  .user-info {
    flex: 1;
  }
  
  .user-list h3 {
    font-size: 16px;
    margin: 0;
    color: #333;
  }
  
  .current-user {
    color: #fff;
    font-weight: bold;
    background-color: #8ac4ff;
  }