/* Global Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.App {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Header Styles */
.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.App-title {
  font-size: 24px;
  color: #333;
}

/* Sign Out Button Styles */
.SignOut-button {
  background-color: #ff5555;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.SignOut-button:hover {
  background-color: #cc0000;
}

/* Section Styles */
.App-section {
  background-color: #f9f9f9;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Chat Room Styles */
main {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  overflow-y: auto;
  max-height: 400px;
}

.chatroom {
  display: grid;
  grid-template-columns: 250px 1fr; /* Define the columns for user list and chat messages */
  height: 100%; /* Adjust the height as needed */
}

.user-list-section {
  background-color: #f3f3f3;
  border-right: 1px solid #ccc;
  padding: 10px;
  overflow-y: auto; /* Add scroll if the user list overflows */
}

.chat-messages-section {
  padding: 20px;
  overflow-y: auto; /* Add scroll if the chat messages overflow */
}

/* Chat Message Styles */
.message {
  display: flex;
  margin: 10px 0;
}

.message.sent {
  flex-direction: row-reverse;
}
.message-content.sent{
  flex-direction: row-reverse;
}

.message.received {
  justify-content: flex-start;
}

.message .message-content {
  display: flex;
  align-items: center;
}

.message.received img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.message.sent img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 10px;
}

.message p {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

/* Chat Input Form Styles */
form {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

button {
  background-color: #4285F4;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 10px;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Sign In Styles */
.sign-in-container {
  text-align: center;
  margin-top: 20px;
}

.sign-in-button {
  background-color: #4285F4;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.sign-in-button:hover {
  background-color: #3A77D9;
}

/* Media Query for Mobile Devices */
@media (max-width: 768px) {
  .App {
    padding: 10px;
  }

  .App-title {
    font-size: 20px;
  }
}